<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/videoclub.jpg" alt="Logo Video Club">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <p>ACTORES</p>
    <%movie.actors.forEach(actor => { %> 
        <%= actor.first_name %> <%= actor.last_name %>,
       

       <%});%>
    
    <p>GÉNERO: <%=movie.genre.name %> </p> 
    <br>
    <section>
        <% if (locals.isAdmin) { %>
            <a class="botonModificar" href="/movies/edit/<%= movie.id %>">Modificar</a>
            <a class="botonBorrar" href="/movies/delete/<%= movie.id %>">Borrar</a>
            <a class="botonVolver" href="/movies">Volver</a>
        <% } %>
        
    </section>

</body>
</html>